*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif ;
  
    
    
}

body{
  
	background-image: linear-gradient(rgba(0,0,0,0.1),rgba(0,0,0,0.1)),url(../images/singer.jpg);
    background-repeat: no-repeat;
    background-position: center;
    margin-bottom: 45%;  
    background-size: 100% 100%;
}

header{
    background-color: transparent;
    box-shadow: darkgray;
}

.image{
    float: left;
}

header nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 142px;    
}

header nav h1{
    font-size: 70px;
    font-weight: 600;
}

header nav .tabs {
    list-style-type:none;
    display: flex;
    justify-content: flex-end;
}

header nav .tabs .tab{
    display: block;
}

header nav .tabs .tab a[data-one]{
    display: block;
    padding: 15px 30px;
    text-decoration: none;
    color: white;
    background-color: black;
    cursor: pointer;
}

header nav .tabs .tab a{
    display: block;
    padding: 15px 30px;
    text-decoration: none;
    color: white;
    background-color: black;
    cursor: pointer;
}

header nav .tabs .tab:hover a[data-one]{
    background-color: whitesmoke;
    color: black;
   
}

header nav .tabs .tab:hover a{
    background-color: whitesmoke;
    color: black;
   
}

header nav .tabs .tab.is-active a[data-one]{
    background-color: black;
    color: white;
    font-weight: 700;
}


main{
    padding-left: 30px;

}

nav ul{
    list-style: none;
}

.pages{
    margin-top: 100px;
    padding: 50px 30px;
    border-radius: 8px;
    background-color: white;
    box-shadow: black;
}

.pages .page{
    display: none;

}

.pages .page.is-active{
    display: block;
}



section1 {
    width: 65%;
    max-height: min-content;
    float: left;
    padding: 10px;
    margin: 10px;
    opacity: 0.8;
}

section2 {
    width: 30%;
    float: left;
    max-height: min-content;
    margin: 20px;
    opacity: 0.8;

}

section3 {
    width: 25%;
    float: left;
    max-height: min-content;
    padding: 10px;
    margin: 10px;
    opacity: 0.8;
}

section4 {
    max-width: min-content;
    max-height: min-content;
    float: left;
    padding: 10px;
    margin: 10px;
   
    opacity: 0.7;
}

section5 {
    width: 75%;
    float: left;
    max-height: min-content;
    opacity: 0.8;
    padding: 5px;
    margin: 30px;
    
}
section6 {
    width: 16%;
    float: left;
    max-height: min-content;
    opacity: 0.8;
    padding: 5px;
    margin: 30px;
    
}

section7 {
    width: 60%;
    float: left;
    max-height: min-content;
    opacity: 0.8;
     
}

section8 {
    width: 95%;
    float: left;
    max-height: min-content;
    opacity: 0.8;
   
    margin: 20px;
    
}





.top {
    overflow: hidden;
    background: black;
}

.top a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 12px 12px;
    text-decoration: none;
}
  
.button2 {
  
    border-color: white;  
    border-width: medium;
    color: white;
    background-color: black;
    padding: 20px 12px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    margin: 10px;
    border-radius: 12px;
    width: 60%; 
}



  .dropdown {
  
    width:100%;
   
  }
  
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
   
  }
  
.dropdown-content a:hover {
    background-color: #ddd;
  }
  
  .dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
.button3 {
  
    border-color: white;  
    border-width: medium;
    color: white;
    background-color: black;
    padding: 20px 12px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    margin: 10px;
    border-radius: 12px;
    width: 60%; 
}
.button4 {
  
    border-color: white;  
    border-width: medium;
    color: white;
    background-color: black;
    padding: 10px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    margin: 10px;
    border-radius: 12px;
    width: 60%; 
}

.button2:hover {
    background-color: whitesmoke;
    color: black;
   
}
.button3:hover {
    background-color: whitesmoke;
    color: black;
   
}
table {
    font-family: arial, sans-serif;
    
    border-collapse: collapse;
    width: 100%;
  }
  
  td, th {
    border: 1px solid black;
   
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even) {
    background-color: #dddddd;
  }

  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }


  .full-page
{
    height:min-content;
	background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)),url(../images/singer.jpg);
	
	background-size: cover;
	position:static; 
}


.form-box
{
    width:380px;
	height:480px;
	position:relative;
	margin:2% auto;
	background:rgba(0,0,0,0.1);
	padding:10px;
    overflow: hidden;
}
.button-box
{
	width:220px;
	margin:35px auto;
	position:relative;
	box-shadow: 0 0 20px 9px #ff61241f;
	border-radius: 30px;
}
.toggle-btn
{
	padding:10px 30px;
	cursor:pointer;
	background:transparent;
	border:0;
	outline: none;
	position: relative;
}
#btn
{
	top: 0;
	left:0;
	position: absolute;
	width: 110px;
	height: 100%;
	background: white;
	border-radius: 30px;
	transition: .5s;
}
.input-group-login
{
	top: 150px;
	position:absolute;
	width:280px;
	transition:.5s;
}
.input-group-register
{
    top: 120px;
	position:absolute;
	width:280px;
	transition:.5s;
}
.input-field
{
	width: 100%;
	padding:10px 0;
	margin:5px 0;
	border-left:0;
	border-top:0;
	border-right:0;
	border-bottom: 1px solid whitesmoke;
	outline:none;
	background: transparent;
}
.submit-btn
{
	width: 85%;
	padding: 10px 30px;
	cursor: pointer;
	display: block;
	margin: auto;
	background: white;
	border: 0;
	outline: none;
	border-radius: 30px;
}
.check-box
{
	margin: 30px 10px 34px 0;
}
span
{
	color:black;
	font-size:12px;
	bottom:68px;
	position:absolute;
}
#login
{
	left:50px;
}
#login input
{
	color:black;
	font-size:20;
}
#register
{
	left:450px;
}
#register input
{
	color:black;
	font-size: 20;
}